[Unit]
Description=Xray Start
After=network-online.target


[Service]
Type=exec
WorkingDirectory=/usr/bin/xray
User=xray
Group=xray
ExecStart=/usr/bin/xray/xray -config=/etc/xray/config.json
Restart=always
LogsDirectory=xray
LogsDirectoryMode=0755
ConfigurationDirectory=xray
ConfigurationDirectoryMode=0755


[Install]
WantedBy=network-online.target
